<md-card>
	<md-card-content>
		<md-input-container layout-fill flex>
			<label>Username</label>
			<input type="text" ng-model="user.name">
		</md-input-container>
	</md-card-content>

</md-card>

<md-card>
	<md-toolbar class="md-table-toolbar md-default">
	  <div class="md-toolbar-tools">
	    <span flex md-truncate>Suppliers</span>
	    <md-button class="md-icon-button md-button md-ink-ripple" type="button" aria-label="add supplier">
  			<i class="material-icons">add</i>
		</md-button>
	  </div>
	</md-toolbar>

	<!-- exact table from live demo -->
	<md-table-container>
	  <table md-table>
	    <thead md-head>
	      <tr md-row>
			<th md-column>Supplier Name</th>
			<th md-column>Contact Number</th>
			<th md-column>Location</th>
	      </tr>
	    </thead>
	    <tbody md-body>
	      <tr md-row ng-repeat="supplier in vm.suppliers">
	        <td md-cell>{{supplier.name}}</td>
	        <td md-cell>{{supplier.number}}</td>
	        <td md-cell>{{supplier.location}}</td>
	      </tr>
	    </tbody>
	  </table>
	</md-table-container>

	<md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{vm.suppliers.length}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>

</md-card>