<md-list flex>
  <md-list-item class="md-2-line">
    <i class="material-icons md-48 md-avatar">person</i>
    <div class="md-list-item-text">
      <h3>Firstname Lastname</h3>
      <p>email@domainname.com</p>
    </div>
  </md-list-item>
  <md-divider></md-divider>
  <md-list-item ng-click="null" ng-repeat="item in sidebar.menu" ui-sref="{{ item.link }}" layout-margin>
    <i class="material-icons" style="margin-right:15px;">{{ item.icon }}</i>
    <md-item-content md-ink-ripple layout="row">
      {{item.title}}
    </md-item-content>
  </md-list-item>
</md-list>
