<div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu" hide-gt-sm
        	ng-click="header.toggleSidenav('left')">
          <i class="material-icons">menu</i>
        </md-button>

        <h2 flex md-truncate>My Project</h2>

        <md-menu>
          <md-button class="md-icon-button" aria-label="Options" ng-click="header.openMenu($mdMenu, $event)">
            <i class="material-icons">more_vert</i>
          </md-button>
          <md-menu-content>
            <md-menu-item>
              <md-button ng-click="header.logout()">Logout</md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
  </div>