<md-card>
	<md-card-content>
		<md-input-container layout-fill flex>
			<label>Username</label>
			<input type="text" ng-model="user.name">
		</md-input-container>
	</md-card-content>

</md-card>

<md-card>
	<md-toolbar class="md-table-toolbar md-default">
	  <div class="md-toolbar-tools">
	    <span flex md-truncate>Raw Materials</span>
	    <md-button class="md-icon-button md-button md-ink-ripple" type="button" aria-label="add supplier">
  			<i class="material-icons">add</i>
		</md-button>
	  </div>
	</md-toolbar>

	<!-- exact table from live demo -->
	<md-table-container>
	  <table md-table>
	    <thead md-head>
	      <tr md-row>
			<th md-column>Material Name</th>
			<th md-column>Stock on Hand</th>
			<th md-column>Status</th>
	      </tr>
	    </thead>
	    <tbody md-body>
	      <tr md-row ng-repeat="material in vm.rawmaterials">
	        <td md-cell>{{material.name}}</td>
	        <td md-cell>{{material.stock}}</td>
	        <td md-cell>{{material.status}}</td>
	      </tr>
	    </tbody>
	  </table>
	</md-table-container>

	<md-table-pagination md-limit="vm.query.limit" md-limit-options="[5, 10, 15]" md-page="vm.query.page" md-total="{{vm.rawmaterials.length}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>

</md-card>