	<div layout="column">
			<md-card ng-class="md-whiteframe-z2">
				<md-card-content>
					<h3>Custom Fields</h3>
					<p class="md-caption">
						(Field labels can be changed and/or enabled on the item default window)
					</p>
					<div><h6></h6></div>
					<md-input-container flex class="md-block" layout-fill>
						<label>1. Alternate Vendor</label>
						<textarea></textarea>
					</md-input-container>
					<md-input-container flex class="md-block" layout-fill>
						<label>2. Substitution</label>
						<textarea></textarea>
					</md-input-container>
					<md-input-container flex class="md-block" layout-fill>
						<label>3. Special Note</label>
						<textarea></textarea>
					</md-input-container>
				</md-card-content>
			</md-card>
	</div>
