<div hide-xs><h4></h4></div>
<div layout="column">
	<div layout-xs="column" layout="row" layout-align="center center" layout-align-xs="center stretch">
		<md-card flex-xs="100" flex-gt-sm="90" ng-class="md-whiteframe-z2" layout-fill>
			<md-card-content>
				<h2>Details</h2>
				<div layout="row">
					<md-input-container flex class="md-block" layout-fill>
						<label>Description</label>
						<textarea></textarea>
					</md-input-container>
				</div>
			</md-card-content>
			<md-divider></md-divider>
			<md-card-content>
				<div layout="row" layout-xs="column">
					<div flex>
						<div layout="row" flex>
							<div layout="column" flex>
								<md-input-container flex class="md-block" layout-fill>
									<label>Price Level</label>
									<input type="text" ng-model="user.name">
								</md-input-container>
							</div>
						</div>
						<div layout="row">
							<md-input-container flex layout-fill>
								<label>Last Unit Cost</label>
								<input type="number" ng-model="user.name">
							</md-input-container>
							<md-input-container flex layout-fill>
								<label>Cost Method</label>
								<md-select ng-model="vm.costMethod"> <!--md-on-close: expression; multiple:boolean; placeholder: string;-->
								  <md-option ng-value="">option</md-option>
								  <md-option ng-value="opt" >option</md-option>
								  <md-option ng-value="opt" >option</md-option>
								</md-select>
							</md-input-container>
						</div>
						<div layout="row" flex>
							<div layout="column" flex>
								<md-input-container flex class="md-block" layout-fill>
									<label>UPC / SKU</label>
									<input type="text" ng-model="user.name">
								</md-input-container>
								<md-input-container flex class="md-block" layout-fill>
									<label>Item Type</label>
									<input type="text" ng-model="user.name">
								</md-input-container>
								<md-input-container flex class="md-block" layout-fill>
									<label>Location</label>
									<input type="text" ng-model="user.name">
								</md-input-container>
								<md-input-container flex class="md-block" layout-fill>
									<label>Stocking U/M</label>
									<input type="text" ng-model="user.name">
								</md-input-container>
								<md-input-container flex class="md-block" layout-fill>
									<label>Weight</label>
									<input type="text" ng-model="user.name">
								</md-input-container>
							</div>
						</div>
					</div>
					<div flex>
						<div layout="column" flex>
							<md-input-container flex class="md-block" layout-fill>
								<label>GL Sales Acct</label>
								<input type="text" ng-model="user.name">
							</md-input-container>
							<md-input-container flex class="md-block" layout-fill>
								<label>GL Inventory Acct</label>
								<input type="text" ng-model="user.name">
							</md-input-container>
							<md-input-container flex class="md-block" layout-fill>
								<label>GL Cost of Sales Acct</label>
								<input type="text" ng-model="user.name">
							</md-input-container>
							<md-input-container flex class="md-block" layout-fill>
								<label>Item Tax Type</label>
								<input type="text" ng-model="user.name">
							</md-input-container>
						</div>
					</div>
				</div>
			</md-card-content>
		</md-card>
	</div>
</div>