<div hide-xs><h4></h4></div>
<div layout="column">
	<div layout="column" layout-align-xs="center stretch">
		<div layout="column" layout-margin>
				

			<div layout-gt-xs="row" layout-xs="column" layout-wrap>
				<div layout="column" layout-padding flex="100">
					<h2>Details</h2>	
					<md-input-container flex layout-fill>
						<label>&nbsp;Description</label>
						<textarea></textarea>
					</md-input-container>
				</div>
				<div flex layout-padding>
					
					<div layout="column" flex>
						<div layout="row" flex>
							<md-input-container flex layout-fill>
								<label>Last Unit Cost</label>
								<input type="number" ng-model="user.name">
							</md-input-container>
							<md-input-container flex layout-fill>
								<label>Cost Method</label>
								<md-select ng-model="vm.costMethod">
								  <md-option ng-value="">option</md-option>
								  <md-option ng-value="opt" >option</md-option>
								  <md-option ng-value="opt" >option</md-option>
								</md-select>
							</md-input-container>
						</div>
						<md-input-container flex layout-fill>
							<label>UPC / SKU</label>
							<input type="text" ng-model="user.name">
						</md-input-container>
						<md-input-container flex  layout-fill>
							<label>Item Type</label>
							<input type="text" ng-model="user.name">
						</md-input-container>
						<md-input-container flex  layout-fill>
							<label>Location</label>
							<input type="text" ng-model="user.name">
						</md-input-container>
						<md-input-container flex  layout-fill>
							<label>Stocking U/M</label>
							<input type="text" ng-model="user.name">
						</md-input-container>
						<md-input-container flex  layout-fill>
							<label>Weight</label>
							<input type="text" ng-model="user.name">
						</md-input-container>
					</div>
				</div>
				<div flex layout-padding>
					<div layout="column" flex>
						<md-input-container flex  layout-fill>
							<label>GL Sales Acct</label>
							<input type="text" ng-model="user.name">
						</md-input-container>
						<md-input-container flex  layout-fill>
							<label>GL Inventory Acct</label>
							<input type="text" ng-model="user.name">
						</md-input-container>
						<md-input-container flex  layout-fill>
							<label>GL Cost of Sales Acct</label>
							<input type="text" ng-model="user.name">
						</md-input-container>
						<md-input-container flex  layout-fill>
							<label>Item Tax Type</label>
							<input type="text" ng-model="user.name">
						</md-input-container>
					</div>
				</div>
			</div>

			<div ng-class="md-whiteframe-z2">
				<div>
					<div layout="row"  layout-xs="column">
						<div flex>
							<h4>Qty on Hand</h4>
							<p>0.00000</p>
						</div>
						<div flex>
							<h4>Qty available</h4>
							<p>0.00000</p>
						</div>
						<div flex>
							<h3></h3>
							<h4>Minimum Stock</h4>
							<md-input-container layout-fill>
								<label>Minimum Stock</label>
								<input type="text">
							</md-input-container>
						</div>
					</div>
				</div>
				<md-divider></md-divider>
				<div>
					<div layout="row" layout-xs="column">
						<div flex>
							<h4>Qty on SO's</h4>
							<p>0.00000</p>
						</div>
						<div flex>
							<h4>Qty on PO's</h4>
							<p>0.00000</p>
						</div>
						<div flex>
							<h4>Reorder Quantity</h4>
							<md-input-container layout-fill>
								<label>Reorder Quantity</label>
								<input type="text">
							</md-input-container>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>