<div hide-xs style="height:100px;"></div>
<div layout="row" layout-align="center center">
	<md-card flex-gt-sm="25" class="login">
		<md-toolbar layout="row"  layout-align="center center">
			<h4>Angular Project</h4>
		</md-toolbar>
		<md-card-content>
			<div layout="column" layout-padding>
				<md-input-container flex layout-fill>
					<label>Username</label>
					<input type="text" ng-model="user.name">
				</md-input-container>
				<md-input-container flex layout-fill>
					<label>Password</label>
					<input type="password" ng-model="user.password">
				</md-input-container>
			</div>
		</md-card-content>
		<md-card-footer>
			<div layout="column" class="primary">
				<md-button class="md-raised md-primary" aria-label="login" 
				flex ng-click="vm.login()">Login</md-button>
			</div>
		</md-card-footer>
	</md-card>
</div>